<?xml version="1.0" encoding="utf-8"?>
<!--ROJA-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.calibrage.akshaya">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".views.actvity.Labproducts"></activity>
        <activity android:name=".views.actvity.ChemicalActivity" />
        <activity android:name=".views.actvity.Pdf_Activity" />
        <activity android:name=".views.actvity.GenerateQr" />
        <activity android:name=".views.actvity.test" />
        <activity
            android:name=".views.actvity.product_list_fert"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".views.actvity.Godown_list"
            android:screenOrientation="portrait"
         />
        <activity
            android:name=".views.actvity.PaymentHistories"
            android:screenOrientation="portrait"
          />
        <activity
            android:name=".views.actvity.CollectionInfo"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".views.actvity.QRScannerActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".views.actvity.MapActivity"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".views.actvity.product_list"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".views.actvity.RequestListctivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.actvity.pole_godown_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.actvity.FertlizerRecomandationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.actvity.Fert_godown_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.Visit_request_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.Quickpay_SummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.LabourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.PDFActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.EncyclopediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.LoanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.RequestVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.QuickPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.FertilizerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.PoleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.LabourRecommendationsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.CropMaintanceVisitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.actvity.PaymentHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.PaymentActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.RecommendationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.OtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.CollectionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.actvity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.actvity.MainActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".common.BaseActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->
        <service android:name=".service.BackgroundNotificationService"
            android:exported="true"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>